local.baseURL=
local.email=
local.password=
local.browserType=CHROMIUM
local.headlessMode=false
local.slowMoMode=0
local.viewportWidth=1920
local.viewportHeight=964
local.tracingMode=false
local.videoMode=false
local.videoWidth=1920
local.videoHeight=957
local.closeBrowserIfError=true
local.artefactDir=target/artefact
local.defaultTimeout=5000
local.failFast=false
local.skipMode=false
local.additionalRetries=0
local.colorScheme=DARK
local.DEBUG=

#local.DEBUG=pw:api
