local.baseURL=
local.email=
local.password=
local.viewportWidth=1920
local.viewportHeight=964
local.headlessMode=false
local.slowMoMode=0
local.tracingMode=false
local.videoMode=false
local.closeBrowserIfError=true
