<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="suite name" parallel="classes" thread-count="1">
    <listeners>
        <listener class-name="xyz.npgw.test.common.base.RetryListener"/>
    </listeners>
    <test name="test name">
        <packages>
            <package name="xyz.npgw.test.run.*"/>
        </packages>
    </test>
</suite>
